# # .npmrc در ریشه پروژه
# registry=https://mirror-npm.runflare.com

# # غیرفعال کردن COMPLETELY ریپازیتوری npm اصلی
# npmjs.org:registry=https://mirror-npm.runflare.com
# registry.npmjs.org:registry=https://mirror-npm.runflare.com

# # ریپازیتوری jsr هم از mirror بگیره
# @jsr:registry=https://mirror-npm.runflare.com

# # مسدود کردن کامل درخواست‌ها به npmjs.org
# //registry.npmjs.org/:always-auth=false
# //registry.npmjs.org/:_authToken=null
# //registry.npmjs.org/:_password=null

# # force استفاده از mirror
# always-auth=false
# strict-peer-dependencies=false
# prefer-offline=true

# # جلوگیری از fallback به npmjs
# fetch-retries=0