/* IranYekan Font Family - Persian Font */

/* IranYekan Thin */
@font-face {
    font-family: 'IranYekan';
    src: url('/fonts/eot/iranyekanwebthinfanum.eot');
    src: url('/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),
        url('/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* IranYekan Light */
@font-face {
    font-family: 'IranYekan';
    src: url('/fonts/eot/iranyekanweblightfanum.eot');
    src: url('/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff/iranyekanweblightfanum.woff') format('woff'),
        url('/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* IranYekan Regular */
@font-face {
    font-family: 'IranYekan';
    src: url('/fonts/eot/iranyekanwebregularfanum.eot');
    src: url('/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),
        url('/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* IranYekan Medium */
@font-face {
    font-family: 'IranYekan';
    src: url('/fonts/eot/iranyekanwebmediumfanum.eot');
    src: url('/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),
        url('/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* IranYekan Bold */
@font-face {
    font-family: 'IranYekan';
    src: url('/fonts/eot/iranyekanwebboldfanum.eot');
    src: url('/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
        url('/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),
        url('/fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}