/* Persian Font */
@import './fonts.css';

/* ريست سفارشي استايل */
@import './base.css';

/* استايل کتابخانه هاي ثالث */
@import './global.css';

/* انيميشن */
@import './animation.css';

/* استايل کامپوننت keepalive */
@import './keep-alive.css';
